/* Body*/

body {
    background-image: url("/src/images/greenbush.jpg");
    font-family: Georgia;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 5vh;
    color: white;
}


/* Navbar */
.navbar {
    background-color: #3D550C;
}

.titles {
    color: white;
    font-size: 25px;
}

.titles:hover {
    color: black;
}


/*Buttons*/

.shoppingCartimg,
.homePageimg {
    width: 50px;
    border-radius: 10px;
}

#shoppingCart,
#homePage {
    width: min-content;
    background-color: transparent;
    border: none;
}

/* Animation for buttons*/

#shoppingCart:hover,
#homePage:hover,
.shoppingCartimg:hover,
.homePageimg:hover {
    animation-name: buttonsGif;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes buttonsGif {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #3D550C;
    padding-top: 8vh;
    padding-bottom: 5vh;
}



/* Invoice Part */
.invoice {
    background-color: white;
}