body {
    background-color: #ECF87F;
    font-family: Georgia;
    overflow-x: hidden;
}

/* Jumbotron */

.jumbo {
    background-image: url("/src/images/greenbush.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 5vh;
    color: white;
}

/* Navbar */
.navbar {
    background-color: #3D550C;
}

.titles {
    color: white;
    font-size: 25px;
}

.titles:hover {
    color: black;
}


/*Buttons*/

.shoppingCartimg {
    width: 50px;
    border-radius: 10px;
}

#shoppingCart {
    width: min-content;
    background-color: transparent;
    border: none;
}

/* Animation for buttons*/

#shoppingCart:hover,
.shoppingCartimg:hover {
    animation-name: buttonsGif;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes buttonsGif {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #3D550C;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

/* Products */

.homeCard {
    background-color: white;
    width: 320px;
    height: 430px;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #3D550C;
}

.card-body {
    text-align: center;
}
.card1 {
    text-align: center;
}
.succulentCard {
    background-color: #3D550C;
    color: white;
}


.succulent1 {
    width: 200px;
}
.succulent2 {
    width: 200px;
}
.succulent3 {
    width: 200px;
}
.succulent4 {
    width: 200px;
}
.succulent5 {
    width: 200px;
}
.succulent6 {
    width: 200px;
}
.succulent7 {
    width: 200px;
}
.succulent8 {
    width: 200px;
}
.succulent9 {
    width: 200px;
}
.succulent10 {
    width: 200px;
}
.succulent11 {
    width: 200px;
}

