body {
    background-color: #ECF87F;
    font-family: Georgia;
    overflow-x: hidden;
}

/* Jumbotron */

.jumbo {
    background-image: url("/src/images/greenbush.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 5vh;
    color: white;
}

/* Navbar */
.navbar {
    background-color: #3D550C;
}

.titles {
    color: white;
    font-size: 25px;
}

.titles:hover {
    color: black;
}


/*Buttons*/

.shoppingCartimg {
    width: 50px;
    border-radius: 10px;
}

#shoppingCart {
    width: min-content;
    background-color: transparent;
    border: none;
}

/* Animation for buttons*/

#shoppingCart:hover,
.shoppingCartimg:hover {
    animation-name: buttonsGif;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes buttonsGif {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #3D550C;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

/* Products */

.homeCard {
    background-color: white;
    width: 320px;
    height: 430px;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #3D550C;
}

.card-body {
    text-align: center;
}

.card1 {
    text-align: center;
}

.succulentCard {
    background-color: #3D550C;
    color: white;
}

/* Succulent Collection */
.succulent1 {
    width: 200px;
}

.succulent2 {
    width: 200px;
}

.succulent3 {
    width: 200px;
}

.succulent4 {
    width: 200px;
}

.succulent5 {
    width: 200px;
}

.succulent6 {
    width: 200px;
}

.succulent7 {
    width: 200px;
}

.succulent8 {
    width: 200px;
}

.succulent9 {
    width: 200px;
}

.succulent10 {
    width: 200px;
}

.succulent11 {
    width: 200px;
}

/* Plant Care Collection */
.plantcare1 {
    width: 200px;
}

.plantcare2 {
    width: 200px;
}

.plantcare3 {
    width: 200px;
}

.plantcare4 {
    width: 200px;
}

.plantcare5 {
    width: 200px;
    height: 190px;
}

.plantcare6 {
    width: 200px;
    height: 210px;
}

.plantcare7 {
    width: 200px;
    height: 210px;
}

/* Fern Collection */
.fern1 {
    width: 200px;
    height: 200px;
}

.fern2 {
    width: 200px;
}

.fern3 {
    width: 200px;
}

.fern4 {
    width: 200px;
}

.fern5 {
    width: 200px;
}

.fern6 {
    width: 200px;
}

.fern7 {
    width: 200px;
}

.fern8 {
    width: 200px;
}



/* Extra information */

.backgroundpopup {
    background-color: white;
    position: absolute;
    width: 100wv;

}

/* The expanding image container */
.popup {
    position: absolute;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 40px;
    cursor: pointer;
}




















/* .popup1 {
    max-width: 600px;
    height: max-content;
    background-color: #BC9476;
    margin-top: 100px;
    margin-left: 450px;
    margin-bottom: 50px;
    border-radius: 7px;
    padding: 28px 0 30px;
    box-shadow: 0 10px 30px #BC9476;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
  }
  
.popup1 img {
    width: 200px;
} */