/* Body*/

body {
    background-color: white;
    font-family: Georgia;
    overflow-x: hidden;
}

/* Jumbotron */

.jumbo {
    background-image: url("/src/images/greenbush.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 5vh;
    color: white;
}

.gardenQuote {
    font-size: 30px;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    color: white;
}


.blockquote {
    text-align: center;
}

.totalBlockquote {
    border-style: solid;
}

/* Slide for the quote and tips */
.slide {
    animation: 2s slide-right;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}


/* Navbar */
.navbar {
    background-color: #3D550C;
}

.titles {
    color: white;
    font-size: 25px;
}

.titles:hover {
    color: black;
}


/*Buttons*/

.shoppingCartimg,
.homePageimg {
    width: 50px;
    border-radius: 10px;
}

#shoppingCart,
#homePage {
    width: min-content;
    background-color: transparent;
    border: none;
}

/* Animation for buttons*/

#shoppingCart:hover,
#homePage:hover,
.shoppingCartimg:hover,
.homePageimg:hover {
    animation-name: buttonsGif;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes buttonsGif {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #3D550C;
    padding-top: 8vh;
    padding-bottom: 5vh;
}


/* Collection */
.collections {
    background-color: #ECF87F;
}

.homeCard {
    background-color: #ECF87F;
    width: max-content;
}

.homeCard:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px #3D550C;
}

.succulent1 {
    width: 350px;
}

.care1 {
    width: 400px;
    height: 350px;
}

.fern1 {
    width: 350px;
    height: 350px;
}

.card-body {
    text-align: center;

}

.card1 {
    text-align: center;

}

.succulentCard {
    background-color: #3D550C;
    color: white;
}